body {
  margin: 0;
  background: #0d1117;
  color: white;
  font-family: Arial, sans-serif;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 50px;
  margin: 0;
}

.btn {
  display: inline-block;
  background: #00c853;
  padding: 12px 25px;
  margin-top: 15px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.btn:hover {
  background: #00e676;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.category-grid,
.product-grid {
  display: grid;
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.category-grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product-grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.category-card,
.product-card {
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
  transition: 0.2s;
}

.category-card img {
  width: 100%;
  border-radius: 10px;
}

.category-card:hover,
.product-card:hover {
  transform: scale(1.03);
}

.price {
  display: block;
  font-size: 20px;
  margin: 10px 0;
  color: #00e676;
}

footer {
  text-align: center;
  padding: 20px;
  background: #090c10;
  margin-top: 40px;
}
